Repository qiaojunfeng/WannierIO.jl, pull requests merged in 2023-07, with the labels that each got.

#7 Move Docs back to repo
  .github/workflows/CI.yml
  .github/workflows/Documenter.yml
  .github/workflows/TagBot.yml
  docs/.gitignore
  docs/Project.toml
  docs/README.md
  docs/make.jl
  docs/make_serve.sh
  docs/src/api/convention.md
  docs/src/api/qe.md
  docs/src/api/util.md
  docs/src/api/volumetric.md
  docs/src/api/w90.md
  docs/src/index.md
Labels: feature, dependency, docs, chore

#10 Switch to TestItemRunner
  test/Project.toml
  test/qe/xml.jl
  test/runtests.jl
  test/util/fortran.jl
  test/volume/bxsf.jl
  test/w90/amn.jl
  test/w90/band.jl
  test/w90/chk.jl
  test/w90/eig.jl
  test/w90/mmn.jl
  test/w90/nnkp.jl
  test/w90/tb.jl
  test/w90/unk.jl
  test/w90/win.jl
  test/w90/wout.jl
Labels: dependency

#4 Add parsers for hr.dat and r.dat files
  docs/src/api/util.md
  docs/src/api/w90.md
  docs/src/index.md
  src/WannierIO.jl
  src/util/parser.jl
  src/w90/hr.jl
  src/w90/r.jl
  src/w90/tb.jl
  src/w90/wsvec.jl
  test/util/parser.jl
  test/w90/hr.jl
  test/w90/r.jl
  test/w90/tb.jl
  test/w90/wsvec.jl
Labels: feature, docs

#11 Use DocStringExtensions.jl for writing docstrings
  .github/workflows/CI.yml
  Project.toml
  README.md
  docs/make.jl
  docs/make_serve.sh
  docs/src/api/index.md
  docs/src/api/util.md
  docs/src/api/w90.md
  src/WannierIO.jl
  src/common/const.jl
  src/common/type.jl
  src/qe/band.jl
  src/qe/xml.jl
  src/util/fortran.jl
  src/util/header.jl
  src/util/lattice.jl
  src/util/toml.jl
  src/volume/bxsf.jl
  src/volume/cube.jl
  src/volume/xsf.jl
  src/w90/amn.jl
  src/w90/band.jl
  src/w90/chk.jl
  src/w90/eig.jl
  src/w90/hh_r.jl
  src/w90/mmn.jl
  src/w90/nnkp.jl
  src/w90/spn.jl
  src/w90/unk.jl
  src/w90/win.jl
  src/w90/wout.jl
Labels: feature, dependency, docs, chore
